@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary-color: #e80e57;
  --gold-color: oklch(0.847 0.165 93.07);
  --silver-color: oklch(0.82 0 263.28);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary-color);
  --color-gold: var(--gold-color);
  --color-silver: var(--silver-color);
  --font-tangerine: var(--font-tangerine);
  --font-parisienne: var(--font-parisienne);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  user-select: none;
}

section {
  @apply snap-start;
}

@layer components {
  .linear-gradient {
    background: radial-gradient(
      circle at center,
      var(--color-background) 10%,
      transparent,
      transparent
    );
    @apply absolute inset-0  md:scale-125 scale-150 -z-1;
  }
  .icon {
    @apply size-8 stroke-primary md:size-16;
  }
  .icon-sm {
    @apply size-6 stroke-primary md:size-8;
  }
  h6 {
    @apply text-[10svw] md:text-[3svw] text-primary;
  }
  h5 {
    @apply text-xl md:text-[2svw];
  }
  .text {
    @apply text-base md:text-[1.2svw];
  }
  .default-transition {
    @apply transition-all duration-200 ease-in-out;
  }
}
/* @media (max-width: 600px) {
  .linear-gradient {
    background: linear-gradient(
      to top,
      var(--background) 5%,
      transparent,
      transparent
    );
    @apply absolute inset-0;
  }
} */
